<div class="row">
  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Table Buku</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th style="width: 10px">#</th>
            <th>Judul</th>
            <th>Pengarang</th>
            <th>Penerbit</th>
            <th>Tahun Terbit</th>
            <th>ISBN</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let hero of heros;">
            <td>1.</td>
            <td>{{ hero.judul }}</td>
            <td>{{ hero.pengarang }}</td>
            <td>{{ hero.penerbit }}</td>
            <td>{{ hero.tahun_terbit }}</td>
            <td>{{ hero.isbn }}</td>
            <td>
              <button class="btn btn-warning" (click)="edit(hero.id)">
                <li class="fa fa-pencil"></li>
              </button>
              <button class="btn btn-danger" (click)="delete(hero.id)">
                <li class="fa fa-trash"></li>
              </button>
            </td>
          </tr>
          </tbody></table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
